# TODO: liujun 待删除 通过插件写入的

# 依赖目录
node_modules/
dist/
build/

# 配置文件
*.config.js
*.config.ts
vite.config.ts
uno.config.ts

# 自动生成的文件
auto-imports.d.ts
components.d.ts
vite-env.d.ts

# 锁文件
pnpm-lock.yaml
package-lock.json
yarn.lock

# 其他
.DS_Store
*.log
coverage/